body {
    margin: 0 auto; 
    width: 1300px;
    padding: 0;
    text-align: center;
  }
main{
    background-color: rgba(240, 246, 244, 1);
}
/*----------------------
    header
----------------------*/    
header{
    background-color: rgb(181, 229, 213);
}
.header__inner{
    display: flex;
    justify-content: space-between;
}
.logo,.nav__link{
    text-decoration: none;
    color: rgba(0, 0, 0, 6);
}
.logo{
    margin-top: 15px;
    margin-left: 50px;
}
.nav__list{
    display: flex;
    justify-content: space-between;
}
.nav__item{
    padding-right: 50px;
    list-style: none;
}
.header__menu-input{
    display: none;
}
/*----------------------
   TOP画像
----------------------*/  
.main__img{
    height: 635px;
    background:url(img/24652308.jpg)no-repeat center/cover;
}
h1{
    font-weight: lighter;
    color: rgba(0, 0, 0, 6);
}
/*-----------------------
   search
-----------------------*/
.search{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}
.search__tag{
    color: rgba(0, 0, 0, 6);
}
.search__box{
    border: 1px solid;
    border-color:rgb(181, 229, 213);
    border-radius: 5px;
    margin-top: 20px;
    background-color: rgb(181, 229, 213);
}
.search__item{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.search__btn{
    margin: 20px;
}
.gray{
    color: rgba(131, 157, 170, 1);
}
.sp-search__box{
    margin: 100px auto;
    position: relative;
}
.sp-search__input{
    padding: 6px;
    border-radius: 10px;
    width: 800px;
    height: 30px;
    font-size: 30px;
}
.sp-search__btn{
    padding: 5px 15px;
    position: absolute;
    right: 1px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 30px;
}
/*------------------------
   ページネーション
------------------------*/
.pagination{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    border-radius: 10px;
}
/*------------------------
   記事投稿部分
-------------------------*/
.main__content{
    border: 1px solid;
    border-radius: 10px;
    margin: 20px 100px;
    padding: 10px 20px;
    background-color: white;
}
.main__content:hover{
    background-color: rgba(255, 251, 206, 1);
}
.content__box{
    text-decoration: none;
    text-align: left;
    color: rgba(0, 0, 0, 6);
}
.content__tag{
    display: flex;
    justify-content: space-between;
}
/*---------------------------
    TOPボタン
---------------------------*/
#page-top a {
    background-color: rgba(255, 251, 206, 1);
    bottom: 0;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 60px;
    padding: 20px;
    position: fixed;
    right: 0;
  }
/*--------------------------
    footer
--------------------------*/
footer{
        display: flex;
        justify-content: space-between;
        background-color: rgb(181, 229, 213);
        padding: 20px;
}
@media screen and (min-width: 767px) { /*ウィンドウ幅が767px以上の場合に適用*/
    .sp-search__box,
    .header__menu-label{
        display: none;
    }
    }
@media screen and (max-width: 767px) { /*ウィンドウ幅が最大767pxの場合に適用*/
    .search__box,
    .footer__nav{
        display: none;
    }
    .header__inner {
        position: relative;
        z-index: 10;
    }
    .header__menu {
        position: fixed;
        z-index: 5;
        top: 50px;
        width: 100%;
        height: calc(100vh - 50px);
        background: #fff;
        opacity: 0;
        visibility: hidden;
        transition: opacity .2s ease;
    }
    .header__menu:has(+ .header__menu-input:checked ) {
        opacity: 1;
        visibility: visible
    }
    .nav__list {
        border-top: 1px solid #d7d7d7;
    }
    .nav__item {
        border-bottom: 1px solid #d7d7d7;
    }
    .nav__link {
        display: block;
        padding: 13px 10px;
        color: rgba(0, 0, 0, 0.6);
    }
    .header__menu-label {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: end;
        width: 50px;
        height: 50px;
        padding: 5px;
        cursor: pointer;
    }
    .header__menu-label span:nth-child(-n+3) {
        position: absolute;
        display: block;
        width: 30px;
        height: 2px;
        background: rgba(0, 0, 0, 0.6);
    }
    .header__menu-label span:nth-child(1) {
        top: 10px;
        transition: all .2s ease;
    }
    .header__menu-input:checked + .header__menu-label span:nth-child(1) {
        top: 20px;
        transform: rotate(45deg);
    }
    .header__menu-label span:nth-child(2) {
        top: 18px;
        transition: opacity .2s ease;
    }
    .header__menu-input:checked + .header__menu-label span:nth-child(2) {
        opacity: 0;
    }
    .header__menu-label span:nth-child(3) {
        top: 26px;
        transition: all .2s ease;
    }
    .header__menu-input:checked + .header__menu-label span:nth-child(3) {
        top: 20px;
        transform: rotate(-45deg);
    }
}
